<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <title>restoDev</title>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <meta name="theme-color" content="#394867"/>
</head>
<body>
  <a href="#mainContent" tabindex="0" class="skip-link">Menuju ke konten <i class="bi bi-arrow-right"></i></a>
  <nav class="nav">
    <a href="#/" class="nav-brand" >restodev</a>
    <button type="button" class="hamburger" id="hamburger" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg></button>
    <ul class="nav-menu" id="navigationDrawer">
      <li class="nav-item"><a href="#/" >Home</a></li>
      <li class="nav-item"><a href="#/favorite" >Favorite</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/ahmad-jourji-zaidan-6b6240231/" target="_blank" >About Us</a></li>
      <li class="nav-item dropdown"><a  tabindex="0">
        Mode  
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-item" >
          <button class="btn-mode" tabindex="0" value="false" ><i class="bi bi-sun-fill"></i> Light</button>
        </li>
        <li class="dropdown-item">
          <button class="btn-mode" tabindex="0" value="true"><i class="bi bi-moon-fill"></i> Dark</button>
        </li>
      </ul>
    </li>
    </ul>
    
  </nav>
  <app-bar></app-bar>
  <main id="mainContent" tabindex="0">
    
  </main>
  <footer-bar></footer-bar>
  
</body>
</html>


