@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  text-decoration: none;
  outline: none;
  color: white;
  padding: 8px;
  z-index: 99999;
}
 
.skip-link:focus {
   top: 0;
}

.nav{
  position: sticky;
  top: 0 ;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.04);
}

.nav-brand{
  font-size: 1.3em;
  padding: 15px;
  color: var(--text-gray-500);
  text-decoration: none;
  opacity:.88;
  font-weight: 600;
}
.nav-item{
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;   
  list-style: none;
}
.nav-item a{
  text-decoration: none;
  color: var(--text-gray-500);
  padding: 15px;
}
.nav .dropdown{
  position: relative;
  cursor: pointer;
}
.nav .dropdown i{
  transform: translateY(-2px);
}
.nav .dropdown-menu{
  position: absolute;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 110px;
  padding: 10px 0px;
  margin-left: -20px;
  display: none;
}
.dropdown-item{
  list-style: none;
}
.dropdown-item button{
  padding: 15px 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-item button i{
  margin-right: 5px;
}
.darkmode{
  background-color: #0a1225 !important;
  color: rgb(235, 235, 235) !important;
}
.hamburger{
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 15px;
}

main{
  width: 100%;
  margin: 0;
  /* padding-top: 4rem; */
}
.content{
  padding: 30px;
}
.content h1{
  text-align: center;
  color: var(--text-gray-500);
  opacity:.88;
}
.posts{
  padding: 30px 0;
  justify-content: center;
  display: grid;
}
.card{
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 3px rgba(0,0,0,0.04);
}
.card img{
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.card-header,
.card-body,
.card-footer{
  padding: 3px 20px;
}
.card-header{
  font-size: 1.2em;
  margin-top: 5px;
  font-weight: 600 ;
  padding-block: 10px;
}
.card-header a{
  text-decoration: none !important;
  color: inherit !important;
  padding: 10px 0px;
}
.card-body{
  font-size: .9em;
  word-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.card-detail {
  margin: 0 auto;
  padding: 20px;
}


.card-detail-header img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

.card-detail-header h2 {
  font-size: 1.5em;
  padding-top: 5px;
  padding-left: 10px;
}
.card-detail .categories{
  display: flex;
  margin-top: 5px;
}
.card-detail .categories span{
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: small;
  font-weight: 400;
  border: 1px solid #eee;
}

.card-detail-body {
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
}

.card-detail-description {
  display: flex;
}

.card-detail-description h3 {
  margin-top: 30px;
  font-size: 1.45em;
  padding: 5px 10px;

}

.card-detail-description-left,
.card-detail-description-right {
  width: 100%;
}


.card-detail-description-left {
  border-right: 1px solid #eee;
}
.card-detail-description-right{
  padding-left: 10px;
}
.card-detail-description-right ul li p{
  margin-top: 3px;
}

.card-detail-description ul {
  list-style-position: outside !important;
  padding: 5px 10px;
}

.card-detail-description li {
  list-style: none;
  padding: 5px 0px;
}

.card-detail-description li span {
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding-block: 5px;

}
.card-detail-description li p {
  font-size: 0.9em;
  text-align: justify;
}

.bookmark {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #575757;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.form-review {
  margin-bottom: 20px;
}

label {
  display: block;
  padding: 5px 0px;
}

input {
  padding: 15px;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  outline-color: #8f8f8f;

}

textarea {
  width: 500px;
  padding: 10px;
  resize: none;
  border: 1px solid #bdbdbd;
  outline-color: #8f8f8f;
  border-radius: 3px;
}

.btn-review{
  padding: 15px 20px;
  background-color: rgb(7, 123, 168);
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.card-detail-review{
  padding-block: 20px;
}
.card-detail-review h3{
  font-size: 1.45em;
  margin-bottom: 20px;
}
.card-review {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.card-review-header {
  margin-bottom: 10px;
}

.card-review-header span {
  color: #8f8f8f;
  font-size: 0.9em;
}

.card-review-header h4 {
  margin: 0;
}

.card-review-body p {
  word-spacing: 1.2px;
}



 

@media screen and (max-width: 600px) {
  .posts {
    grid-template-columns: 1fr ;
    gap: 20px;
  }
  .jumbotron img{
    height: 40vh;
  }
  .hamburger{
    display: block;
  }
  .nav{
    padding: 0;
  }
  .nav-menu{
    position: fixed;
    padding: 10px;
    top: 60px;
    z-index: -1;
    right: -100%;
    display: flex;
    grid-area: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s ;
  }
  .nav-item{
    margin: 0;
    padding: 25px ;
  }
  .nav-menu.active{
    right: 0;
  }
  .nav .dropdown-menu{
    width: 100%;
    margin-top: 10px;
  }
  .card-detail{
    width: 100%;
  }
  .card-detail-description{
    display: block;
  }
  .card-detail-description-left{
    border: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
  }
  .card-detail-description-right{
    padding-left: 0;
  }
  input, textarea{
    width: 100%;
  }
}
@media screen and (min-width: 700px ) {
  .posts {
    grid-template-columns: 1fr ;
    gap: 20px;
  }
  .jumbotron img{
    height: 60vh;
  }
  
}
@media screen and (min-width: 800px) {
  .posts{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .jumbotron img{
    height: 50vh;
  }
  .card-detail{
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .posts{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .card-detail{
    width: 50%;
  }
}